@import 'colors';
@import 'constant-heights';
@import 'shadows';

header {
	box-shadow: $header;
	position: relative;
	height: $header-height;
	width: 100vw;

	.section {
		margin: auto 32px;
	}

	.home {
		border-radius: 8px;
		cursor: pointer;
		margin: 12px 32px 8px;
	}
}

.logged {
	display: flex;
	flex-direction: column;

	.logged-label {
		color: $gray-50;
		font-size: 12px;
		line-height: 16px;
	}

	.logged-email {
		color: $gray-80;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
	}
}
