<div [style]="errorMessage && {marginBottom: 0}" class="text-input-block w-100">
	<span class="text-input-label fs-xs">{{ inputLabel }}</span>
	<input
		(blur)="onTouch()"
		(ngModelChange)="onChange($event)"
		[autocomplete]="inputAutocomplete"
		[class.error]="errorMessage"
		[class.mb-20]="!errorMessage"
		[disabled]="!!inputDisabled"
		[ngModel]="value"
		[placeholder]="inputPlaceholder"
		class="text-input fs-m"
		type="{{ inputType }}"
	/>
	<div *ngIf="errorMessage" class="input-error flex row a-i-c fs-xs">
		<div class="point"></div>
		<span>
			{{ errorMessage }}
		</span>
	</div>
</div>
