.flex {
	display: flex;
}

.row {
	flex-flow: row nowrap;
}

.row-wrap {
	flex-flow: row wrap;
}

.col {
	flex-flow: column nowrap;
}

.col-wrap {
	flex-flow: column wrap;
}

.j-c-sb {
	justify-content: space-between;
}

.j-c-c {
	justify-content: center;
}

.j-c-fe {
	justify-content: flex-end;
}

.a-i-c {
	align-items: center;
}

.a-i-e {
	align-items: flex-end;
}

.a-i-fs {
	align-items: flex-start;
}

.a-s-c {
	align-self: center;
}

.a-s-fs {
	align-self: flex-start;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}
