$xs: 16px;
$s: 24px;
$m: 32px;
$l: 40px;
$xl: 56px;
$m20: 20px;
$gap: 28px;

.mt-20 {
	margin-top: $m20;
}

.mb-20 {
	margin-bottom: $m20;
}

.mr-20 {
	margin-right: $m20;
}

.ml-20 {
	margin-left: $m20;
}

.gap {
	gap: $gap;
}
